@import "../../../var";

.card {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  transform: translateY(50%);
  color: #1c2541;
  font-size: 20pt;
  border-radius: 50px;
  background: $login-form-color;
  box-shadow: 40px 40px 80px #546d6e, -40px -40px 80px #fcffff;
  input {
    border-radius: 50px;
    border: none;
    text-align: center;
    font-size: 20pt;

    background: #cae3e4;
    box-shadow: inset 18px 18px 36px #889899, inset -18px -18px 36px #a3b4b4;
  }
  .card-header {
    background-color: unset;
    text-align: center;
    font-size: 2rem;
  }
  .btn-primary {
    background-color: $login-btn-color;
    border: none;
    font-size: 16pt;
  }
  .btn-link {
    color: #1c2541;
    font-size: 16pt;
  }
}
@media only screen and (max-width: 900px) {
  .card {
    width: 90%;
  }
}
