.hero {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  h1 {
    text-align: center;
  }
  .video {
    margin-top: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    padding-bottom: 50px;
    video {
      width: 100%;
      border-radius: 15px;
      outline: none;
      border: none;
    }
    .icon {
      width: 40px;
    }
    .under-video {
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 20pt;
      }
      .buttons {
        display: flex;
        justify-content: space-evenly;
        width: 160px;
        .button {
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          cursor: pointer;
        }
      }
    }
    .comments {
      background-color: rgba(128, 128, 128, 0.178);
      padding: 10px;
      border-radius: 15px;
      margin-top: 20px;
      h2 {
        font-size: 14pt;
      }
    }
  }
}
p,
h1 {
  margin-top: 20px;
}
