//GERNERAL SETTINGS
$font: "Montserrat", sans-serif;

//COLOR SETTINGS FOR LOGIN / REGISTER PAGE (boxshadow needs to be adjusted when you change something)
$login-background: #ddf5f7;
$login-form-color: #d7dee2;
$login-btn-color: #e63946;

//COLOR SETTINGS FOR HOME
$nav-color: orange;
