//GERNERAL SETTINGS
$font: "Montserrat", sans-serif;

//GENERAL COLOR SETTINGS
$primary: #ffa500;
$secondary: #007bff;

//COLOR SETTINGS FOR LOGIN / REGISTER PAGE (boxshadow needs to be adjusted when you change something)
$login-background: #e9e9e9;
$login-form-color: #ffffff;
$login-btn-color: #e63946;

